 ## Scaling to vector unit  length / unit norm

Scaling to unit norm is achieved by dividing each feature vector by either the Manhattan distance (l1 norm) or the Euclidean distance of the vector (l2 norm):

X_scaled_l1 = X / l1(X)

X_scaled_l2 = X / l2(X)


The **Manhattan distance** is given by the sum of the absolute components of the vector:

l1(X) = |x1| + |x2| + ... + |xn|


Whereas the **Euclidean distance** is given by the square root of the square sum of the component of the vector:

l2(X) = sqr( x1^2 + x2^2 + ... + xn^2 )


In the above example, x1 is variable 1, x2 variable 2, and xn variable n, and X is the data for 1 observation across variables (a row in other words).


 ### Scaling to unit norm, examples

For example, if our data has 1 observations (1 row) and 3 variables:

- number of pets
- number of children
- age

The values for each variable for that single observation are 10, 15 and 20. Our vector X = [10, 15, 20]. Then:

l1(X) = 10 + 15 + 20 = 45

l2(X) = sqr( 10^2 + 15^2 + 20^2) = sqr( 100 + 225 + 400) = **26.9**

The euclidean distance is always smaller than the Manhattan distance.


The normalized vector values are therefore:

X_scaled_l1 = [ 10/45, 15/45, 20/45 ]      =  [0.22, 0.33, 0.44]

X_scaled_l2 = [10/26.9, 15/26.9, 20/26.9 ] =  [0.37, 0.55, 0.74]

In [25]:
import numpy as np
import pandas as pd

# dataset for the demo
#from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

# the scaler - for robust scaling
from sklearn.preprocessing import Normalizer

In [26]:
# load the the Boston House price data from Scikit-learn

# this is how we load the boston dataset from sklearn
#boston_dataset = load_boston()
from sklearn.datasets import fetch_openml
import pandas as pd

# Load dataset
boston_dataset = fetch_openml(name="boston", version=1, as_frame=True)

# create a dataframe with the independent variables
data = pd.DataFrame(boston_dataset.data,
                      columns=boston_dataset.feature_names)

# display top 5 rows (not in book recipe)
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33

In [27]:
# load the the Boston House price data

# this is how we load the boston dataset from sklearn
#boston_dataset = load_boston()

# create a dataframe with the independent variables
data = pd.DataFrame(boston_dataset.data,
                      columns=boston_dataset.feature_names)

# add target
data['MEDV'] = boston_dataset.target

data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [28]:
# let's separate into training and testing set
X_train, X_test, y_train, y_test = train_test_split(data.drop('MEDV', axis=1),
                                                    data['MEDV'],
                                                    test_size=0.3,
                                                    random_state=0)

X_train.shape, X_test.shape

((354, 13), (152, 13))

 ### Scaling to l1

In [20]:
# set up the scaler
scaler = Normalizer(norm='l1') # for euclidean distance we change to norm='l2' 

# fit the scaler, this procedure does NOTHING
scaler.fit(X_train)

# transform train and test sets
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [22]:
# let's calculate the norm for each observation (feature vector)
# original data
np.round( np.linalg.norm(X_train.select_dtypes(include=[np.number]), ord=1, axis=1), 1)

array([1020.1,  741. ,  999.5,  853. ,  730.4,  855.3,  841.9,  843. ,
        864.1,  822.7,  700.9,  800.9,  731. ,  779.6,  780.1,  815.6,
       1188.9, 1234. ,  756.6, 1199. , 1212.1,  884.2, 1142.8, 1246. ,
        913. ,  919.9, 1173. ,  766.3, 1094. ,  862.7,  714. ,  947. ,
        928.4,  740. ,  797.6,  821.1,  675.5,  923.7,  886. ,  811. ,
        767.1,  828.4,  758.5,  773. ,  843.4, 1113.7,  798.1,  697.4,
        798.6,  684. ,  796.8,  875.3,  748.8,  907.4,  931.7,  806.6,
       1170. ,  766.9,  736.5,  816.9,  866.8,  887.6,  840.4,  903.1,
        994.6,  898.3, 1226.3,  737.5, 1071.3,  848.7,  830.8,  733.4,
        854.1, 1213.4,  824.6,  952.4,  769. ,  918.4,  835.6,  826.7,
        777.3,  789.8,  947.2,  852.9, 1225.9,  714.7,  798.9,  972.8,
       1161.9,  900. , 1214.2,  977.6,  879.9,  920.9,  691.1,  723.2,
        831.4,  713.7,  893. , 1239.9,  812.7,  805.5,  988.5,  819.4,
       1200.3,  709.1,  833.2,  947.3,  699.6,  785.9,  824.4,  738.1,
        788.8, 1086.5,  828.1, 1164.5,  834.4,  822.7,  804.5,  760.6,
       1165. ,  766.4,  646.4,  712.8, 1241.8, 1000. ,  777.1,  917.7,
        867.4,  859. ,  856.1,  762.5, 1235.6,  915.1,  704.2,  775.3,
        776.7,  810. ,  821. ,  852.5,  778.2,  826.9,  999.2,  957.2,
        919.1, 1117.8, 1168.2,  774.5,  762.7, 1173.4,  882.2,  835.3,
        815.9,  814.9,  816.7,  982.2,  920.2,  740.9,  915.8,  786.7,
        809.2, 1211.9,  884. ,  916.2,  889.3,  770.9,  919.8,  921. ,
       1224.6, 1002.3,  809.5,  795.7, 1203.4,  827.4,  786.4, 1288. ,
        825.1,  768.5, 1228.1,  818.7,  880. ,  783.2,  745.4,  819.8,
        938.2,  699.8,  740.4,  729.7,  722.8,  742.7,  883.3,  717.2,
       1308.3, 1161.2,  772.4,  780.6, 1231.2,  714.8, 1215. ,  778.1,
        760.9,  802.6,  852.5, 1241.4,  734.9,  795. ,  764.3, 1207.7,
        775.1,  664. ,  723.4,  754.5,  836.3, 1219.1, 1244.4, 1150.9,
        734. ,  819.9,  819.5, 1246. ,  996.2,  914.4,  862. ,  678.7,
       1225. ,  809.9,  899.7, 1194.9,  904.7,  742.7,  842.4,  729.1,
        891.6,  799.6, 1194.5,  791.5,  826.4, 1217.1,  730. , 1187.2,
        885.6,  834.1,  746.5,  792.8,  800.3, 1253.8, 1232. ,  797.3,
        699.7,  800.2,  926.3,  972.4,  697.4,  710.7, 1215.1,  997.4,
        843.2,  805. ,  797.1,  769.1,  779.6,  736.2,  717.6, 1272.7,
       1240.7,  841.4, 1080.8, 1138.6,  776.9,  777.8,  771.8,  939.3,
       1209.4,  790.1,  825.3,  856.1,  783.6,  794.5, 1207.8, 1212.9,
        666.1,  929.3, 1229.3, 1215.6,  730.5,  831.2,  748.4, 1236.9,
        726.5, 1158.1, 1229. , 1000.4,  789.7,  843.5,  721.4, 1212.2,
        935.6,  901.5,  852.6,  875.7,  838. ,  690.3,  993.8,  692.3,
       1227.1, 1143. ,  831.6,  831. , 1277.8, 1214.6,  963.8,  821.6,
       1212.7,  802.1,  773.9,  702.8, 1236.5,  919.2,  701.4,  837.5,
        753.2, 1197.5,  917.8, 1195.9,  775.6,  751.1,  696.2,  753.2,
        792.2,  726.4, 1233.1,  797.4, 1261.4,  782.5,  765.3,  835.7,
       1231.2,  790.9, 1200.5,  744.3,  740.8,  786.3,  802.3,  755.4,
        823.9,  849.6, 1202.7,  793. ,  781. ,  802.4,  895.5,  956.7,
        767.2,  825.6])

In [23]:
# let's calculate the norm for each observation (feature vector)
# scaled data

np.round( np.linalg.norm(X_train_scaled, ord=1, axis=1), 1)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

 ### Scaling to l2

In [24]:
# set up the scaler
scaler = Normalizer(norm='l2')

# fit the scaler, this procedure does NOTHING
scaler.fit(X_train)

# transform train and test sets
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)